SECRET_KEY=vantagepoint_secret_ioc_2026
CONFIG_PATH=vantage.conf
VIRUSTOTAL_API_KEY=<insert_your_virustotal_api_key_here>
SHODAN_API_KEY=<insert_your_shodan_api_key_here>
OTX_API_KEY=<insert_your_otx_api_key_here>

# GitHub OIDC
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

# Authentik OIDC
AUTHENTIK_CLIENT_ID=your_authentik_client_id
AUTHENTIK_CLIENT_SECRET=your_authentik_client_secret
AUTHENTIK_ISSUER_URL=https://authentik.company.com/application/o/vantagepoint/